#----------------------------------------------------------------------------
# GITIGNORE
#----------------------------------------------------------------------------
.*cache
*.log
cache/*
backup
log
log/**/*
.monitor
Forwardfile

# OS X Files
.DS_Store
Thumbs.db
*.swp
*.swo
*.lnk
*~

# IDE FILES
*.sublime-*
*.tmproj

# SASS
*.sassc

# NODE
.node_modules
node_modules
*/node_modules
/node_modules/*

# Variables
*.env
variables.env
variables.env.now