extends layout

include mixins/_loginForm
include mixins/_forgot
include mixins/_registerButton

block content
  .container  
    h2= title
    +loginForm()
    +forgotForm()
    //- +registerButton()