extends layout

block content
  .inner
    form.form(action="/register" method="POST")
      h2 Register 📝 
      label(for="name") Name
      input(type="text" name="name")
      label(for="email") Email
      input(type="email" name="email")
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      //- TODO: Do we need a terms and conditions row?
      //- div.agreement__row
      //-   input(type='checkbox' name='agreement' onChange="document.getElementById('allowRegistration').disabled = !this.checked;" class='agreement__checkbox') 
      //-   label(for='agreement') I agree to the 
      //-     a(href='/terms' class='agreement__link') terms and conditions
      //-     | .
      input.button(type="submit" value="Register →")