mixin modalForm()
  div.modal__overlay
  div.modal
    form.modal__guts(action=`/account/gender?gender=1` method="POST")
        h1.modal__header Modal Example
        div.modal__row
            button(type='submit' class='modal__button' ) Male
            button(type='submit' class='modal__button' formaction=`/account/gender?gender=0`) Female
            button(type='submit' class='modal__button' formaction=`/account/gender?gender=2`) Nonbinary
        br
        button(class='modal__link' type='submit' formaction='/account/gender?gender=88') Prefer not to answer
        p.modal__text 
        |We use this for statistical results, 
        br
        |we do not save any personal information.