mixin modalForm()
  form#modal-overlay.modal__overlay(action=`/account/gender?gender=1` method="POST")
  div.modal#modal
    .modal__guts
        h1.modal__header Modal Example
        div.modal__row
            button(class='modal__button' type='submit' ) Male
            button(class='modal__button' type='submit' formaction=`/account/gender?gender=0`) Female
            button(class='modal__button' type='submit' formaction=`/account/gender?gender=2`) Nonbinary
        br
        button(class='modal__link' type='submit' formaction='/account/gender?gender=2') Prefer not to answer
        p.modal__text 
        |We use this for statistical results, 
        br
        |we do not save any personal information.