mixin ratingForm(story)
  form.reviewer
  .story__ctas
    button(onclick="console.log(true, `${story._id}`)" class='button' title='ok') Hey, that's ok
    button(onclick="console.log(false, `${story._id}`)" class='button' title='notok') No way, not ok
