mixin registerButton()
  form.form(action='/register' method='GET' class='agreement')
    h2 Join Ok, not ok
    p Add a disclaimer here about joining? 
    input.button(type='submit' value='Register →' id='allowRegistration')