mixin storyRating(store)
  form.reviewer(action='/ratings/${story._id}' method='POST')
  .story__ctas
    input(type='submit' value="Hey, that's ok" class='button') 
    input(type='submit' value="No way, not ok" class='button') 
    
