mixin storyRating(store)
  form.reviewer(action='/ratings/${story._id}' method='POST')
  .story__ctas
    button.button(type='submit' value="true") Hey, that's ok
    button.button(type='submit' value="false") No way, not ok
