mixin storyCard(story = {})

	.story
			img(src=`images/icons/left-arrow.svg`)
			p= story.description
			h2= `At a party, a stranger put his arm around me and said, “You probably fuck like a truck.”`
			img(src=`images/icons/right-arrow.svg`)
