include ./_ratingForm
include ./_resultCard
include ./_storyResults

mixin storyCard(story, page, count)
	.story
		.story__content
			if page > 1
				a(href=`/stories/page/${parseInt(page) - 1}`)
					img(src=`/images/icons/left-arrow.svg` class='story__arrows--left')
			else
				img(src=`/images/icons/left-arrow.svg` class='story__arrows--left--hidden')
			h2= story.description
			if user
				a(class="story__content--edit" href=`/stories/${story._id}/edit`)
					!=h.icon('pencil')
			if page < count
				a(href=`/stories/page/${parseInt(page) + 1}`)
					img(src=`/images/icons/right-arrow.svg` class='story__arrows--right')
			else
				img(src=`/images/icons/right-arrow.svg` class='story__arrows--right--hidden')
		+ratingForm(story)
		if story.ratings 
			.results
				.results__row
					h3.results__heading Not Ok
					- let percentNot = 100 - story.percentOk
					- let nots = [story.nonbinaryNot, story.femaleNot, story.maleNot];
					- let [nonbinNot, femaleNot, maleNot] = nots.map(rating => Math.round((rating / story.totalNot) * 100))
					+storyResults(percentNot, nonbinNot, femaleNot, maleNot)
				.results__row
					h3.results__heading Ok
					- let oks = [story.nonbinaryOk, story.femaleOk, story.maleOk];
					- let [nonbinOk, femaleOk, maleOk] = oks.map(rating => Math.round((rating / story.totalOk) * 100))
					+storyResults(story.percentOk, nonbinOk, femaleOk, maleOk)