mixin storyRating(store)
  form.reviewer(action='/ratings/${story._id}' method='POST')

  .story__ctas
    a(href=`/stories/${story._id}/rate` class='button') Hey, that's ok
    a(href=`/stories/${story._id}/rate` class='button') No way, not ok  
