mixin storyForm(story = {})
	form(action='/submit' method='POST' class='card')
		label(for='author') Name
		input(type='text' name='author')
		label(for='description') Description
		textarea(name='description')
		- const choices = ['Female', 'Male', 'Other']
		- const gender = story.gender || [];
		ul.tags
			each choice in choices 
				.tag.tag__choice
					input(type='checkbox' id=choice value=choice name='tags' checked=(gender.includes(choice)))
					label(for=choice) #{choice}
		input(type='submit' value='Save →' class='button')
