/* -------------------------------------
    FLASHES
------------------------------------- */

@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.flash {
  background: $gray;
  box-shadow: $shad;
  margin-bottom: 2rem;
  color: $black;
  padding: 2rem;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideIn forwards .1s ease-in-out 2;
  animation-timing-function: cubic-bezier(0.01, 1.68, 0.58, 1);
  & + .flash {
    animation-delay: 0.55s;
    & + .flash {
      animation-delay: 0.6s;
    }
  }
  &__text {
    flex: 1;
  }
  &__remove {
    background: none;
    border:0;
    font-size: 3rem;
    color: #303030;
    font-weight: 100;
    margin-bottom: 0;
    &:hover {
      color: $grey;
    }
  }
  &:after {
    content: '';
    display: block;
    background: $white;
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    left: 1px;
    z-index: -1;
    box-shadow: $shad;
    border-radius: 4px;
  }
  &--success {
    background: $gray;
  }
  &--error {
    background: $gray;
    color: $red;
    font-weight: bold;
  }
  &--info {
    background: $gray;
  }
  p {
    margin: 0;
  }
}
