input, textarea {
  width:100%;
  padding:10px;
  border: 1px solid $gray;
  &.input {
    &--error {
      border-color: red;
    }
  }
}

label {
  padding: 10px 0;
  display: block;
}

.form {
  background: white;
  padding: 2rem;
  margin-top: 4rem;
  box-shadow: $grad;
  color: $black;
  & + .form {
    margin-top: 4rem;
  }
  // I know this isn't bem but meh
  h2 {
    margin: 0;
    font-size: 2rem;
    padding-bottom: 2rem;
    text-transform: capitalize;
  }
  .button {
    margin-top: 4rem;
  }
}
