.hide {
  text-indent: -999999px;
  font-size: 0;
}

.button {
  border: 0;
  background: $yellow;
  color: $black;
  font-family: 'Panama';
  font-weight: 600;
}

.avatar {
 min-width: 20px;
 height: 20px;
 border-radius: 50%;
 align-self: center;
}

.card {
  background: $red;
  padding: 5rem;
}

pre.error {
  padding: 5rem;
  background: white;
  line-height: 3;
  white-space: pre-line;
  color: blue;
}
