/* -------------------------------------
    NAVBARS
------------------------------------- */

.mobile__logo {
    display: none;
}

.nav {
    font-family: $serif;
    font-weight: 600;
    list-style: none;
    margin: 0;
    padding: 3rem 0 0 0;
    background: $red;
    &__section {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        &--user>li {
            font-size: 1.5rem;
            font-family: $serif;
        }
    }
    &__item {
        display: flex;
        margin: 0;
        font-size: 2rem;
        &--logoli {
            margin-right: auto;
            margin-bottom: 0;
        }
    }
    &__link {
        background: $red;
        color: white;
        text-decoration: none;
        padding: 1.2rem 2rem 0 2rem;
        display: block;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        transition: transform 0.2s;
        svg {
            width: 20px;
        }
        &:hover,
        &--active {
            text-decoration: underline;
            svg {
                transform: scale(1.2)
            }
            background: none;
        }
        &--logo {
            font-size: 4rem;
            text-transform: none;
            text-decoration: none;
            padding-left: 0;
        }
    }
    &__footer {
        display: flex;
        justify-content: center;
        align-items: baseline;
        padding: 3rem 0;

    }
}

@media all and (max-width: 1200px) {
    .nav {
        &__link {
            padding-left: 1rem;
            padding-right: 1rem;
            &--logo {
                svg {
                    width: 100px;
                }
            }
        }
    }
}

@media all and (max-width: 900px) {
    .nav {
        flex-wrap: wrap;
        &__section {
            order: 1;
            &--search {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                order: 2;
                width: 100%;
            }
        }
    }
}

@media all and (max-width: 650px) {
    .mobile__logo {
        font-family: $serif;
        font-weight: 600;
        display: block;
    }
    .nav {
        padding: 1rem 0 0 0;
        &__section {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            &--user {
                order: -1;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                .avatar {
                    min-width: 20px;
                    height: 20px;
                }
                svg {
                    display: none;
                }
            }
        }
        &__item {
            width: 33.333333%;
            &--logoli {
                display: none;
            }
        }
        &__link {
            width: 100%;
            text-align: center;
            justify-content: center;
            align-items: center;
            svg {
                max-width: 100%;
            }
            &--logo {
                svg {
                    width: 100%;
                }
            }
        }
    }
}