/*
  Ratings Form
 */
.ratings {
  position: relative;
  margin: 3rem 0;

  .button {
    &__rating {
      background-color: $red;
      color: $white;
      font-size: 4rem;
      padding: 2rem 3rem;
      text-decoration: none;
      border: 4px solid $white;
      border-radius: 34px;

      &:first-of-type {
        margin-right: 6rem;
      }
    }
  }
}
