/* -------------------------------------
    RATINGS FROM
------------------------------------- */

.ratings {
    position: relative;
    margin: 4rem 0;
    .button {
        &__rating {
            &:hover {
              transform: scale(1.05);
            }
            &:first-of-type {
                margin-right: 6rem;
            }
        }
    }
}