/* -------------------------------------
    RESULTS
------------------------------------- */

.results {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    @media all and (max-width: 650px) {
        padding: 0;
    }

    &__heading {
        margin: 0;
        width: 32%;
    }
    &__row {
        box-sizing: border-box;
        display: flex;
        margin: 6rem 0;
        width: 100%;
        align-items: flex-end;
        &--bar {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }
    &__container {
        width: 100%;
        background-color: $white;
        height: 4rem;
        overflow: hidden;
    }
    &__bar {
        color: $white;
        text-align: right;
        padding: 10px;
        animation: 1s lightspeed-in ease forwards;
    }
    &__stats {
        & > p {
            font-size: 1.1rem;
            font-weight: 600;
            line-height: 2rem;
            letter-spacing: .1rem;
            margin-bottom: 1rem;
        }
    }
}